.py5 {

}
.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.member-profile {
    top: -105px;
    left: 0;
}

.member-profile img {
    height: 162px;
    width: 288px;
}

.quote {
    font-size: 32px;
    font-family: HGSMinchoE;
    font-style: ;
    font-weight: bold;
}

.quote-comas {
    font-size: 48px;
    font-style: italic;
    font-family: Felix Titling;
}

.contact-logo {
    font-size: 20px;
}



