{% extends 'base_layout.html' %}
{% load static %}
{% block add_style %}
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <link rel="stylesheet" href="{% static 'styles/workers_list.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
<section class="staff-section py-2">
    <div class="container pt-5 mx-auto">
	    <div class="row justify-content-center">
            <div class="col-12 my-5 py-5">
                <div class="card border-0 shadow-lg px-0 pt-4 position-relative">
                    <div class="card-body p-4">
                        <div class="member-profile position-absolute w-100 text-center">
                            <img class="rounded-top mx-auto d-inline-block shadow-sm" src="{{ceo.profile_pic.url}}" alt="">
                        </div>
                        <div class="card-text pt-4 my=5">
                            <h5 class="member-name mb-0 text-center text-primary font-weight-bold">{{ceo}}</h5>
                            <div class="mb-3 text-center">
                                {{ceo.job}}
                            </div>
                            <div class="quote-section d-flex text-center text-dark">
                                <i class="quote w-75 mx-auto my-auto">
                                    <span class="quote-comas text-primary pe-4">"</span>
                                    {{ceo.personal_motto}}
                                    <span class="quote-comas text-primary ps-4">"</span>
                                </i>
                            </div>
                        </div><!--//card-text-->
                    </div><!--//card-body-->
                    <div class="card-footer bg-secondary border-0 text-white text-center">
                        <ul class="contact-list list-inline my-auto mx-auto">
                            <div class="phone list-inline-item ms-4">
                                <i class="contact-logo bi bi-telephone mx-1 my-auto"></i>
                                <i class="ms-1">{{ceo.phone}}</i>
                            </div>
                            <div class="email list-inline-item ps-5">
                                <i class="contact-logo bi bi-envelope mx-2 my-auto"></i>
                                <a class="link-light my-auto" href="mailto: {{ceo.email}}">{{ceo.email}}</a>
                            </div>
                        </ul><!--//contact-list-->
                    </div><!--//card-footer-->
                </div> <!--//card border-->
            </div>  <!--//col-->
        </div> <!--//row-->



        <div class="row justify-content-start">  <!-- MANAGERS SECTION-->
            {% for manager in managers %}
            <div class="manager col-6 my-5 py-4 .d-print-inline-block">
                <div class="card border-0 shadow-lg px-0 pt-4 position-relative">
                    <div class="card-body p-4">
                        <div class="member-profile position-absolute w-100 text-center">
                            <img class="rounded-top mx-auto d-inline-block shadow-sm" src="{{manager.profile_pic.url}}" alt="">
                        </div>
                        <div class="card-text pt-4 my=5">
                            <h5 class="worker-name mb-0 text-center text-primary font-weight-bold">{{manager}}</h5>
                            <div class="text-center">
                                Head of {{manager.department}} Department
                            </div>
                            <div class="quote-section d-flex text-center text-dark">
                                <i class="quote w-75 mx-auto my-auto">
                                <span class="quote-comas text-primary pe-4">"</span>
                                {{manager.personal_motto}}
                                <span class="quote-comas text-primary ps-4">"</span>
                                </i>
                            </div>
                        </div><!--//card-text-->
                    </div><!--//card-body-->
                    <div class="card-footer bg-secondary border-0 text-white text-center">
                        <ul class="contact-list list-inline my-auto mx-auto">
                            <div class="phone list-inline-item ms-4">
                                <i class="contact-logo bi bi-telephone mx-auto my-auto"></i>
                                <i class="ms-1">{{manager.phone}}</i>
                            </div>
                            <div class="email list-inline-item ps-5">
                                <i class="contact-logo bi bi-envelope mx-2 my-auto"></i>
                                <a class="link-light my-auto" href="mailto: {{manager.email}}">{{manager.email}}</a>
                            </div>
                        </ul><!--//contact-list-->
                    </div><!--//card-footer-->
                </div> <!--//card-border-->
            </div> <!--//col-->
            {% endfor %}
        </div>  <!--//row-->

        <div class="row" id="board">
            <h1 class="w-100 py-3 mb-5 bg-primary text-light text-center rounded">Board</h1>
            <br>
            {% include 'department_sec.html' with dept=board %}
        </div>

        <div class="row " id="finance-and-revenue">
            <h1 class="w-100 py-3 mb-5 bg-primary text-light text-center rounded">Finance and Revenue</h1>
            <br>
            {% include 'department_sec.html' with dept=finance %}
        </div>

        <div class="row " id="attack-and-defence">
            <h1 class="w-100 py-3 mb-5 bg-primary text-light text-center rounded">Attack and Defense</h1>
            <br>
            {% include 'department_sec.html' with dept=attack_defence %}
        </div>

        <div class="row " id="technology-and-research">
            <h1 class="w-100 py-3 mb-5 bg-primary text-light text-center rounded">Technology and Research</h1>
            <br>
            {% include 'department_sec.html' with dept=technology %}
        </div>

    </div> <!--//container-->
</section>
{% endblock %}
